/* audio.txt file given*/
audio::-webkit-media-controls-mute-button {
    border-radius: 100px;
    background-color: #ffffff;
}
audio::-webkit-media-controls-play-button {
    border-radius: 100px;
    background-color: #ffffff;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 225, 0.3);
}

audio {
    position: relative;
    top: -205px;
    margin-left: 6px;
}

/* scroll.txt file given*/
#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 7px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
    border-radius: 7px;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 7px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    border-radius: 7px;

}
 
/* Menu Code for Mobile */
body {
    position: relative;
}
/* hamburger code*/
ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    top: 0;
    width: 20px;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

html {
    background-color: #020659;
}

body {
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    margin: 0 auto;
    width: 375px;
    background-color: #ffffff;
}

h1 {
    margin: 15px 0 5px 34px;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    
}

li {
    color: #ffffff;
    background-color: #030a8c;
    padding: 5px 0;
    text-align: center;
}

ul li:nth-child(1) a,  ul li:nth-child(1) a:visited,  ul li:nth-child(1) a:hover,  ul li:nth-child(1) a:active {
    position: absolute;
    top: 20px;
    left: 105px;
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;

}

ul li:nth-child(1) a,  ul li:nth-child(1) a:visited,  ul li:nth-child(1) a:hover,  ul li:nth-child(1) a:active {
    text-transform: uppercase;
}

a, a:visited, a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
}

li:hover {
    background-color: #590242;
}

header p {
    margin: 10px 30px 5px 30px;
}

h2, h3 {
    font-size: 1em;
}

p, dl, dt, dd {
 font-size: 1em;
}

dd, dt {
    color: #590242;
    margin: 0 2px 0 5px;
}

dt {
    font-style: italic;
}

body > footer {
    margin-top: 25px;
    text-align: center;
}

footer p {
    font-size: 0.75em;
    color: #590242;
    padding-bottom: 10px;
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
    height: 310px;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255, 255, 255, .75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

#container .scroll {
    display: grid;
    grid-template-columns: repeat(5, 185px);
    overflow-y: hidden;
    overflow-x: auto;
}

#container .scroll section {
    height: 220px;
    padding: 10px;
    margin: 10px;
    position: relative;
    text-align: center;
}

#container .scroll div {
    height: 50px;
    padding: 5px;
    width: 350px;
    top: 250px;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
}

h2 {
    color: #590242;
    margin: 25px 0 5px 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#trending .scroll h3 {
    margin: 5px 0 8px 5px;
    color: #590242;
}

#playlists .scroll h3, #curated .scroll h3 {
    margin: 4px 0 0 0 ;
    text-align: center;
    color: #ffffff;
}

.scroll h3 {
    margin: 3px 0 10px 5px;
    color: #590242;
    font-weight: bold;
    text-transform: uppercase;
}

.scroll p {
    margin: 5px 0 0 0;
    text-align: center;
    color: #ffffff;
}

#trending a, #curated a, #playlists a {
    margin: 10px 10px 15px 30px;
    padding: 10px 20px;
    width: 140px;
    border-radius: 5px;
    display: block;
    background-color: #590242;
    color: #ffffff;
    text-align: center;
}

#trending a:hover, #curated a:hover, #playlists a:hover {
    background-color: #020659;
}

dl {
    display: flex;
}

#nav-container {
    display: grid;
    grid-template-areas: "nav" "header";
}


nav > h2 {
    display: none;
}

nav {
    grid-area: "nav";
    background-color: #030a8c;
}

header {
    color: #ffffff;
    grid-area: header;
    background: linear-gradient(.25turn, #2104d9, black);

}

#playlists .scroll {
    background-color: #2699FB;
}

#playlists section {
    background-color: #0D8DFB;
}

#curated .scroll {
    background-color: #030a8c;
}

#curated section {
    background-color: #020873;
}


@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        align-items: center;
        margin-top: 5px;
    }
    label span, input {
        display: none;
    }
    
    body {
        width: 834px;
    }

    li {
        align-items: center;
    }

    ul li:nth-child(1) a,  ul li:nth-child(1) a:visited,  ul li:nth-child(1) a:hover,  ul li:nth-child(1) a:active {
        position: static;
        margin-left: 10px;
    }

    #container {
        display: flex;
        clear: both;
    }

    #container #playlists, #container #curated {
        flex: 1;
    }

    #playlists .scroll, #curated .scroll {
        display: flex;
        height: 450px;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #playlists .scroll img, #curated .scroll img {
        float: left;
    }

    #trending a, #curated a, #playlists a {
        display: block;
        margin-right: 10px;
        float: right;
    }

}